div {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: inline-block;
}
.circulo-uno {
	background-color: red;
}
.circulo-dos {
	background-color: blue;
}
.circulo-tres {
	background-color: yellow;
}
.may {
	background-color: black;
}